/* COLOR PALETTE
#6DA34D - Bud Green
#56445D - English Violet
#548687 - Steel Teal
#8FBC94 - Dark Sea Green
#C5E99B - Yellow Green Crayola

From Darkest to Lightest*/

/* Gobal Styles 
--------------------------*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: black;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}

img {
    width: 300px;
}

a {
    color: grey;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

h1, h2 {
    font-weight: 500;
    margin: 15px 0;
}

.content-wrap {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}

.divider > section {
    border-bottom: 1px dashed #56445D;
    padding: 15px 0;
}

.divider > section:last-of-type {
    border-bottom: none;
}
/* Profile 
--------------------------*/
header {
    background: #56445D;
    color: white;
}

/* Projects 
--------------------------*/

.projects {
    background: #C5E99B;
}

.projects .btn {
    background: #548687;
    color: white;
    padding: 8px;
    border-radius: 5px;
    display: inline-block;
}

.projects .btn:hover {
    background: rgba(84, 134, 135, 80%);
}

.project-item {
    overflow: hidden;

}

.project-item h3 {
    margin-top: 0;
}



/* Work Experience
--------------------------*/
.work-experience {
    background: #8FBC94;
}



/* Education
--------------------------*/
.education {
    background-image: url(../images/joanna-kosinska-unsplash.jpg);
    background-size: cover;
    background-position: top right;
    padding-bottom: 100px;
}

.education p {
    width: 60&;
}

/* Contact Info 
--------------------------*/

footer {
    background: #548687;
    color: white;
}

.contact-list {
    list-style-type: none;
    padding: 0;
}

.contact-list a {
    padding: 15px;
    display: inline-block;
    color: white;
}
/* Responsive
--------------------------*/

@media screen and (min-width:745px) {

    header, footer {
        text-align: center;
    }
    .project-item img {
        float: left;
        margin-right: 20px;
    }

    .job-item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
    }
    .contact-list {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:749px) {
    h1 {
        font-size: 40px;
    }

    h1, h2 {
        line-height: 1.1;
    }
    .contact-list a {
        padding: 5px;
    }
}
